body { 
	font-family: 'Manjari', cursive;
	margin: 0px;
	text-align: center;
	background-size: cover;
}

h1 {
	color: #CD5C5C;
	font-family: 'Bungee Shade', cursive;
	text-align: center;
	margin: 0px;
	padding-top: 80px;
	padding-bottom: 80px;
}

h2 { 
	color: #CD5C5C;
	font-family: 'Itim', sans-serif;
	font-weight: bold;
	text-align: center;
	margin-bottom: 25px;
 }

p {
	font-weight: lighter;
	text-justify: center;
	text-align: center;
	color: #323232;
	font-family: 'Manjari', cursive;
}

a {
	text-decoration: none;
	color: #F5B7B1;
 }


.container {
  text-align: center;
  background-size: cover;
}

@media (max-width: 960px) {
  .container {
    width: 800px;
  }
}
@media (max-width: 760px) {
  .container {
    width: 600px;
  }
}
@media (max-width: 500px) {
  .container {
    width: 400px;
  }
}

.card-white-title {
	text-align: center;
	background-image: url(https://cdn.pixabay.com/photo/2016/05/24/16/48/mountains-1412683_960_720.png);
	height: 80vh;
	background-position: center;
	margin: 0px;
	background-size: cover;
	padding-bottom: 0px;
	vertical-align: 30px;
}

.img-circle {
	border-radius: 50%;
}

.img-bordered {
	border: 5px solid white;
}

.card-white {
	border-radius: 4px;
	margin: 15px auto;
	padding: 50px;
	box-shadow: 0px 10px 30px #D4D5D4;
	size: 400px;

}

.card-white-presentation {
	text-align: center;
	background-position: cover;
	background-size: cover;
	border-radius: 4px;
	margin: 15px;
	padding: 50px;
	box-shadow: 0px 10px 30px #D4D5D4;
	size: 400px;
	display: flex;
}

.card-white:hover {
	background-color: #FFEBE0;
}

.bouton {
	background-color: #A30023;
	color: white;
	border-radius: 4px;
	padding: 10px 15px;
}

.bouton:hover {
	background-color: #D64540;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 20px;
}

.list-inline i {
	font-size: 50px;
	padding-top: 20px; 
	color: #A30023;
}

.list-inline i:hover {
	color: #D64540;
	font-size: 50px;
}

#exp p {
	margin-bottom: 40px;
}




